{:paths ["src"]
 :deps {com.taoensso/timbre {:mvn/version "5.1.2"}
        io.replikativ/konserve {:mvn/version "0.7.285"}
        io.replikativ/superv.async {:mvn/version "0.3.43"}
        org.clojure/clojure {:mvn/version "1.10.3"}

        ;; Inspired by https://github.com/FieryCod/holy-lambda/blob/master/examples/bb/native/aws-interop-v2.example/deps.edn
        ;; must use this client instead of default/apache for graal native:executable compat
        software.amazon.awssdk/url-connection-client   {:mvn/version "2.20.7"}
        ;; important: excluding unused http clients below fixes graal native:executable breaking on
        ;; Random/SecureRandom due to DnsClient static init
        software.amazon.awssdk/s3                      {:mvn/version "2.20.7"
                                                        :exclusions  [software.amazon.awssdk/netty-nio-client
                                                                      software.amazon.awssdk/apache-client]}
        com.amazonaws/aws-xray-recorder-sdk-aws-sdk-v2 {:mvn/version "2.13.0"}}
 :aliases {:test   {:extra-deps  {lambdaisland/kaocha {:mvn/version "1.60.977"}}
                    :extra-paths ["test"]}
           :jar    {:extra-deps {seancorfield/depstar {:mvn/version "1.1.116"}}
                 :main-opts ["-m" "hf.depstar.jar" "replikativ-konserve-s3.jar"]}
           :deploy {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.9"}}
                    :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "replikativ-konserve-s3.jar"]}
           :format {:extra-deps {cljfmt/cljfmt {:mvn/version "0.7.0"}}
                    :main-opts ["-m" "cljfmt.main" "check"]}
           :ffix   {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
                  :main-opts ["-m" "cljfmt.main" "fix"]}}}
